@using OnlineMusicStore.Helpers;
@model OnlineMusicStore.Models.Artist


<div class="mb-1">
    <p class="d-flex justify-content-between align-items-center">
        <span>@Model.Name</span>
        <span class="@Html.GetCSSClass(@Model.Rating)">@Model.Rating <i class="fas fa-star"></i></span>
    </p>
</div>
