<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="title" content="Muzzix" />
    <meta name="Keywords"
        content="music, music album, online music store, eStore, purchase music, purchase music album" />
    <meta name="description"
        content="music, music album, online music store, eStore, purchase music, purchase music album" />
    <meta property="og:type" content="ecoomerce" />
    <meta property="og:title" content="Muzzix" />
    <meta property="og:description"
        content="music, music album, online music store, eStore, purchase music, purchase music album" />
    <meta property="og:site_name" content="Muzzix" />
    <meta property="og:locale" content="en_US" />
    
    <title>@ViewData["Title"] - Muzzix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/carousel.css" />
    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/6e2fa5513e.js" crossorigin="anonymous"></script>

</head>

<body>
    @await Html.PartialAsync("_Header")
    <div class="container-fluid">
        <main role="main" class="p-3">
            <div class="card rounded p-2 m-2 shadow">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
