@model IEnumerable<OnlineMusicStore.Models.Artist>
@{
    ViewData["Title"] = "Artists";
}
@* for data table plugin *@
<link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<section>
    <h1 class="display-4">Artists</h1>
    @if (User.IsInRole(OnlineMusicStore.Models.UserRoles.AdminRole))
    {
        <p><a asp-controller="Artist" asp-action="CreateNew">Add New Artist</a></p>
    }
    @if (Model.Any())
    {
        <table class="table table-bordered" id="artistsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    @if (User.IsInRole(OnlineMusicStore.Models.UserRoles.AdminRole))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var artist in Model)
                {
                    <tr>
                        <td>@artist.Name</td>
                        <td>@artist.Rating</td>
                        @if (User.IsInRole(OnlineMusicStore.Models.UserRoles.AdminRole))
                        {
                            <td>
                                <a asp-controller="Artist" asp-action="Edit" asp-route-id="@artist.Id">Edit</a> |
                                <a asp-controller="Artist" asp-action="Delete" asp-route-id="@artist.Id">Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-error">No artists available. Add an artist to show.</p>
    }
</section>

@section Scripts {
@* for data table *@
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#artistsTable').DataTable();
    });
</script>
}