@{
    ViewData["Title"] = "About Us";
}

<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */

        margin-top: 100px;
        margin-bottom: 10px; /* Added */
    } 
    
    .card-body {
        /*  margin: 0 auto;  Added */
        float: none; /* Added */
        margin-top: 21px;
        margin-left :0px;
        margin-right : 25px; 
        margin-bottom: 10px;
        text-align: justify;
    }
</style>

<body>


    <div class="card" style="max-width:800px;">

        <div class="row g-0">
            <div class="col-md-7">
                <img src="~/images/aboutcard.jpg" class="img-fluid" style="height:400px ; width:500px" />
            </div>
            <div class="col-md-5">
          
                <div class="card-body text-center" >
                   
                    <p class="card-text text-justify" >
                        
                            Music is the strongest form of magic. Isn't it? Welcome to the abode of music.
                            Search for your favorite artists, their most popular songs and albums in one click on the search bar.
                            Add them to the cart without missing any best offers.
                            You can also connect with us on different social media platforms and provide us your feedback and suggestions in the contact section.
                        
                    </p>
                 
                </div>
                    
            </div>
        </div>
    </div>
</body>