@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>About Muzzix.</p>

<section>
    <h4>Attributions</h4>
    <ul>
        <li><a href="~/images/demo-1.jpg">Photo</a> by Dids from Pexels</li>
        <li><a href="~/images/demo-2.jpg">Photo</a> by Dmitry Demidov from Pexels</li>
        <li><a href="~/images/demo-3.jpg">Photo</a> by Athena from Pexels</li>
    </ul>
</section>
