@{
    ViewData["Title"] = "About Us";
}

<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */

        margin-top: 25px;
        margin-bottom: 37px; /* Added */
    } 
    
    .card-body {
        /*  margin: 0 auto;  Added */
        float: none; /* Added */
        margin-top: 21px;
        margin-left :0px;
        margin-right : 25px; 
        margin-bottom: 10px;
        text-align: justify;
    }
    .transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid white;
        opacity: 0.8;
    }

    .about-text {
        font-weight: bold;
        color: #000000;
    }
</style>

            <div class="row justify-content-around" style="background-image: url('/images/abt-bg.png');">
                <div class="col-md-6">
                    <img src="~/images/aboutcard.jpg" class="img-fluid" style="height:400px ; width:500px; margin:auto;" />
                </div>
                <div class="col-md-6">

                    <div class="card-body text-center transbox">

                        <p class="card-text text-justify about-text">

                            Music is the strongest form of magic. Isn't it? Welcome to the abode of music.
                            Search for your favorite artists, their most popular songs and albums in one click on the search bar.
                            Add them to the cart without missing any best offers.
                            You can also connect with us on different social media platforms and provide us your feedback and suggestions in the contact section.

                        </p>

                    </div>

                </div>
            </div>
