@{
    ViewData["Title"] = "Abstract";
}

<section>
<h3>ABSTRACT</h3>
<p class="text-justify">
In this project, we are using ASP.net core to produce an online website for a music store. The site is named Muzzix. It has the general login and register options for the user while a login option for the admin to control the website. The users can easily search for their favorite music or album using the song name, artist name or even album name. A cart option is installed so that the users can add their favorite music into their carts and proceed further with the purchase. We are trying to connect a third-party payment application for purchasing options. The users can also connect with us using different social media handles like Google and Facebook.
</p>

</section