@{
    ViewData["Title"] = "Abstract";
}

<section>
    <h3>ABSTRACT</h3>
    <p class="m-1 text-justify">
        In this project, we are using ASP.net Core MVC to produce an online website for a music store. The site is named
        Muzzix. It has the general login and register options for the user while a login option for the admin to control
        the website. The users can easily search for their favorite music or album using the song name, artist name or
        even album name. A cart option is installed so that the users can add their favorite music into their carts and
        proceed further with the purchase. We are trying to connect a third-party payment application for purchasing
        options. The users can also connect with us using different social media handles like Google and Facebook.
    </p>
    <p class="m-1 text-justify">
        Future improvements include - addition of a demo play feature with each song. The user can try and listen to a
        short snippet of the song before thinking about actually buying it from the music store.
    </p>
</section> <section class="m-2">
<h3>Specific details</h3>
<strong>Modules</strong>
<ul>
    <li>Login/Signup</li>
    <li>Search</li>
    <li>Admin Portal(database management)</li>
    <li>User Portal ( view, search, purchase)</li>
    <li>Request and Feedback portal</li>
</ul>
<br />
<strong>Target User</strong>
<ol>
    <li>Music Store owner</li>
    <li>Store Consumer</li>
</ol>
<br />
<strong>User Point of View</strong>
<ul>
    <li>Social Login</li>
    <li>Search Music</li>
    <li>Purchase Music</li>
</ul>

</section>