@model OnlineMusicStore.ViewModels.ContactUsViewModel
@{
  ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Liked Muzzix? Provide a feedback to make us smile.</p>
<p>Wish to listen to something that you couldn't find? Make a request. We are happy to collect it for you.</p>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#feedback">Give feedback</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#request">Make a Request</a>
  </li>
</ul>
<div id="contactTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="feedback">
    <div class="row">
      <div class="col">
        @await Html.PartialAsync("_FeedbackForm", Model.FeedbackViewModel)
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="request">
    <div class="row">
      <div class="col">
        @await Html.PartialAsync("_RequestForm", Model.RequestViewModel)
      </div>
    </div>
  </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");
await Html.RenderPartialAsync("ContactUsFormScript");}
}