@model List<OnlineMusicStore.Models.Music>
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_Carousel", Model)

<div class="row">
    @foreach (var music in Model)
    {
        <div class="col-sm">
            @await Html.PartialAsync("_MusicCard", music)
        </div>
    }
</div>
