@{
    ViewData["Title"] = "Home Page";
}

<h3>Admin Dashboard</h3>
<hr />
<div class="row">
    <!-- Music -->
    <p class="col-sm-12"><span><i class="fas fa-music"></i> Music </span></p>
</div>
<div class="row">
    <div class="row mx-auto">
        <div class="col-sm-6">
            <!-- Create -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Music" asp-action="CreateNew">
                <h5><i class="fas fa-plus-circle"></i> Add Music</h5>
            </a>
        </div>
        <div class="col-sm-6">
            <!-- Manage -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Music" asp-action="Index">
                <h5><i class="fas fa-database"></i> <i class="fas fa-music"></i> Manage Musics</h5>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <!-- Artist -->
    <p class="col-sm-12"><span><i class="fas fa-user"></i> Artist </span></p>
</div>
<div class="row">
    <div class="row mx-auto">
        <div class="col-sm-6">
            <!-- Create -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Artist" asp-action="CreateNew">
                <h5><i class="fas fa-plus-circle"></i> Add Artist</h5>
            </a>
        </div>
        <div class="col-sm-6">
            <!-- Manage -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Artist" asp-action="Index">
                <h5><i class="fas fa-database"></i> <i class="fas fa-user"></i> Manage Artists</h5>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <!-- Album -->
    <p class="col-sm-12"><span><i class="fas fa-record-vinyl"></i> Album </span></p>
</div>
<div class="row">
    <div class="row mx-auto">
        <div class="col-sm-6">
            <!-- Create -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Album" asp-action="CreateNew">
                <h5><i class="fas fa-plus-circle"></i> Add Album</h5>
            </a>
        </div>
        <div class="col-sm-6">
            <!-- Manage -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Album" asp-action="Index">
                <h5><i class="fas fa-database"></i> <i class="fas fa-record-vinyl"></i> Manage Albums</h5>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <!-- Genre -->
    <p class="col-sm-12"><span><i class="fas fa-tags"></i> Genre </span></p>
</div>
<div class="row">
    <div class="row mx-auto">
        <div class="col-sm-6">
            <!-- Create -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Genre" asp-action="CreateNew">
                <h5><i class="fas fa-plus-circle"></i> Add Genre</h5>
            </a>
        </div>
        <div class="col-sm-6">
            <!-- Manage -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Genre" asp-action="Index">
                <h5><i class="fas fa-database"></i> <i class="fas fa-tags"></i> Manage Genres</h5>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <!-- Requests & Feedbacks -->
    <p class="col-sm-12"><span><i class="fas fa-table"></i> Requests & Feedbacks</span></p>
</div>
<div class="row">
    <div class="row mx-auto">
        <div class="col-sm-6">
            <!-- Create -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Home" asp-action="ShowRequests">
                <h5><i class="fas fa-plus"></i> View Requests</h5>
            </a>
        </div>
        <div class="col-sm-6">
            <!-- Manage -->
            <a class="btn btn-outline-info p-1 m-1 text-dark" asp-controller="Home" asp-action="ShowFeedbacks">
                <h5><i class="fas fa-comments"></i> View Feedbacks</h5>
            </a>
        </div>
    </div>
</div>
