@model IEnumerable<OnlineMusicStore.Models.Order>
@{
    ViewData["Title"] = "Order";
}

<form asp-action="CheckOut" method="post" class="form-horizontal" role="form">
    <h1 style="font-size:20px">Thanks for the purchase, enjoy your music!</h1>
    </form>
